resource_group_name  = "{{CODE_NAME}}-rg-tfstate-{{ENVIRONMENT}}"
storage_account_name = "{{STATE_STORAGE_ACCOUNT}}"
container_name       = "tfstate"
key                  = "github-environments-{{ENVIRONMENT}}.tfstate" 